q{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background: linear-gradient(to right,pink);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #2F473A;
    clip-path: circle(40% at right 70%);
}  
.container{
    width: 80%;
    height: 80%;
    background-color:rgb(255, 217, 224);
    border-radius: 20px;
    overflow: hidden;
}
nav{
   display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
nav .logo{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
}
nav ul li{
   display: inline-block;
   margin: 0 6px;
}
nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 28px;
    font-weight: 550;
}
nav ul li a:hover{
    color: pink;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto;
}
.content .text{
    color: aliceblue;
    width: 40%;
}
.content .text h2{
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 2px;
}
.content .text p{
    font-size: 18px;
    line-height: 20px;
    margin: 10px;
    letter-spacing: 1px;
}
.content .image{
    width: 40%;
    z-index: 2;
}
.content .image img{
    width: 400px;
}
@media (min-width:950px) and (max-width:1150px) { 
    .content .image img{
    width: 300px;
                       }
}
@media (max-width:950px){
    .content{
        flex-direction: column;
        justify-content: center;
            }
    .content .image, .content .text{
        width: 80%;
                                   }
    nav{
        flex-direction: column;
        justify-content: center;
       }                             
    body::after{
        clip-path: circle(40% at bottom);
    }
}